/* Css */
/* Définition de la police */

@font-face 
{
    font-family: 'Raleway';
    src: url('polices/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*Style général */

body
{
    font-family: 'Raleway';
}

#warper
{
    max-width: 1500px;
    margin: 0 auto;
}

/* Header */

#sign_in
{
    color:#0065FC ;
    font-weight: bold;
}

/* Nav */

nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul
{
    list-style-type: none;
    display: flex;
    
}

nav li
{
    margin-right: 50px;
}

nav a
{
    text-decoration: none;
    color: black;

}

nav a:hover
{
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

/* section 1 */

#filter
{
    display: flex;
}

.filters
{
    display: flex;
}

#information
{
    display: flex;
}

/* section 2 */

#main_div_section2
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

#section_2
{
    background-color:  #F2F2F2;
    max-width: 1000px;
}

.img_section2 img
{
    width: 300px;
    height: 160px;
    object-fit: cover;
}

/* Footer */

footer
{
    display: flex;
    background-color: #F2F2F2;
    justify-content: space-around;
}

