/* Css */
/* Définition de la police */

@font-face 
{
    font-family: 'Raleway';
    src: url('polices/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*Style général */

body
{
    font-family: 'Raleway';
}

#warper
{
    width: 90%;
    margin: auto;
}

/* Header */

/* Nav */

nav ul
{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

nav li
{
    margin-right: 50px;
}

nav a
{
    text-decoration: none;
    color: black;

}

nav a:hover
{
    color: #0065FC;
    border-top: 2px solid #0065FC;
}


/* Footer */

footer
{
    display: flex;
    background-color: #F2F2F2;
    justify-content: space-around;
}

