/* Css */
/* Définition de la police */

@font-face 
{
    font-family: 'Raleway';
    src: url('polices/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*Style général */

body
{
    font-family: 'Raleway';
    margin: 0;
}

#warper
{
    max-width: 1600px;
    margin: 0 auto;
}

.fa-star
{
    color: #0065FC;
}

.grey
{
    color: #F2F2F2;
}

h1, h2, h3, h4
{
    font-weight: bolder;
}

/* Header */



/* Nav */

#sign_in
{
    color:#0065FC ;
    font-weight: bold;
}

nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul
{
    list-style-type: none;
    display: flex;
    
}

#nav_big li
{
    padding: 20px;
}

nav a
{
    text-decoration: none;
    color: black;

}

#nav_big li:hover
{
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

#display_375
{
    display: none;
}

/* section 1 */

#search_button
{
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    border: solid 1px #F2F2F2;
    border-radius: 30px;
    margin-bottom: 10px;
}

#search
{
    background-color: #0065FC;
    border-radius: 0 20px 20px 0;
    padding: 2px 10px;
}

#search p
{
    color: white;
}

#search_text p
{
    font-weight: bold;
    margin-left: 55px;
}

#search_icon
{
    display: none;
}

#filter_warper
{
    display: flex;
}

#filter_warper p
{
    font-weight: bolder;
}

#filter
{
    display: flex;
}

.filters
{
    display: flex;
}

#information
{
    display: flex;
    align-items: baseline;
}

.location_icon
{
    position: relative;
    bottom: -15px;
    left: 15px;
}

/* icons */

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog, .fa-info
{
    color: #0065FC;
    padding: 0 10px;
    
}

.round
{
    background-color: #DEEBFF ;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

/* section 1 filters */

#filter
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
}

.filters
{
    display: flex;
    align-items: baseline;
    border: solid #F2F2F2;
    border-radius: 30px;
    position: relative;
    margin: 10px;
}

.filters p
{
    padding: 0 10px;
    margin: 8px 9px 8px 40px;
    font-weight: bold;
}

.round
{
    position: absolute;
    top: -3px;
    left: -2px;
}

#info_logo
{
    border: 2px solid #f2f2f2;
    border-radius: 50%;
}

.fa-info
{
    padding: 5px 8px;
    font-size: 10px;
}

#information p
{
    margin-left: 10px;
}
/* section 2 */

#section_2
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 70px;
}

#main_div_section2 h4
{
    margin: 0;
}

#main_div_section2 p
{
    margin: 5px 0;
}

#section_2warper
{
    background-color:  #F2F2F2;
    max-width: 1000px;
    padding: 30px;
    border-radius: 15px;
}


#main_div_section2
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.img_section2 img
{
    width: 300px;
    height: 160px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.card_section2
{
    background-color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
}

.text_card_section2
{
    margin:10px;
}

.show_more 
{
    font-weight: bolder;
    font-size: 18px;
}

/* aside section 2 */

aside
{
    max-width: 400px;
    background-color:  #F2F2F2;
    padding: 30px;
    border-radius: 15px;

}

aside h4
{
    margin-bottom: 0;
}

aside p
{
    margin-top: 5px;
    margin-bottom: 52px;
}

aside .fa-star
{
    font-size: 13px;
}

#aside_title
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

.img_aside img
{
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}

.text_aside
{
    margin-left: 10px;
}

.card_aside
{
    display: flex;
    background-color: white;
    padding: 5px;
    margin: 25px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
}

/* section 3 */

.img_section3 img
{
    width: 300px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

#img1_section3 img, #img4_section3 img
{
    height: 400px;
}

#img5_section3 img
{
    height: 180px;
}

#img6_section3 img
{
    height:160px;
}

#img2_section3 img
{
    height: 210px;
}

#img3_section3 img
{
    height: 130px;
}

#main_div_section3
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#main_div_section3 h4
{
    margin: 8px 10px;
}

.another_h4 
{
    padding: 2px;
}

.card_section3
{
    background-color: white;
    margin: 25px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
}

.card_section3_height
{
    height: 440px;
}


/* Footer */

footer
{
    display: flex;
    background-color: #F2F2F2;
    justify-content: space-around;
    padding: 30px;
}

footer ul
{
    list-style: none;
    padding: 0;
}

/* Media queries */

@media all and (max-width: 500px)
{
    #warper
    {
        margin: 0 auto;
    }
    #section_2warper
    {
        background-color:  white;
    } 
    footer   
    {
        flex-direction: column;
    }
    aside {
        max-width: 500px;
        background-color: #F2F2F2;
        padding: 30px;
        border-radius: 0;
    }
    aside h4
    {
        font-size: 14px;
    }
    aside p
    {
        font-size: 12px; 
    }
    aside .fa-star
    {
        font-size: 12px;
    }
    .img_aside img
    {
        width: 140px;
        height: 140px;
    }
    .img_section2 img
    {
        width:100%;
    }
    .card_aside 
    {
        display: flex;
        background-color: white;
        padding: 5px;
        margin: 15px 0px;
        border-radius: 20px;
        box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
    }
    #section_2
    {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column-reverse;
        margin-bottom: 0px;
    }
    #section_2warper
    {
        padding:40px;
    }
    #section_3 img  
    {
        width: 100%;
        height: 160px;
    }
    .card_section3
    {
        padding: 0;
    }
    .card_section3_height
    {
        height: initial;
    }
    #filter_warper
    {
        display: block;
    }
    #search
    {
        display: none;
    }
    #search_icon
    {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 12px;
    background-color: #0065FC;
    }
    .fa-search
    {
        color: white;
    }
    .search_icon
    {
        position: relative;
        left:15px;
    }
    #nav_big
    {
        display: none;
    }
    #display_375
    {
        display: initial;
    }
    .sign_in
    {
        color:#0065FC ;
        font-weight: bold;
    }
    #logo_signin
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 20px;
    }
    #nav_small li:hover
    {
        color: #0065FC;
        border-bottom: 2px solid #0065FC;
    }
    #nav_small
    {
        margin-top: 0;
    }
    #nav_small ul
    {
        display:flex;
        width:100%;
        padding-left: 0;
    }
    #nav_small li
    {
        margin-right: 0;
        flex: 50%;
        padding: 20px;
        text-align: center;
        border-bottom: 2px solid #F2F2F2;
    }
    #section_1
    {
        margin: 0 15px;
    }
    #section_1 h1
    {
        margin-top: 0;
    }
    #section_3warper
    {
        padding: 0 30px;
    }
    #section_3 h2
    {
        margin-top: 0;
    }
}
@media all and (min-width:501px) and (max-width:1399px)
{
    #warper
    {
        margin:15px;
    }
    #section_2warper
    {
        max-width: 100%;
        margin-top: 40px;
    }
    #section_2
    {
        flex-wrap: wrap-reverse;
    }
    #aside
    {
        width:100%;
        max-width: 1399px;
    }
    #card_aside_warper
    {
        display:flex;
        flex-direction: column
    }
    
}
@media all and (min-width:1400px) and (max-width:1599px)
{
    #warper
    {
        margin:30px;
    }
    #section_2
    {
        flex-wrap: nowrap;
        flex-direction: row-reverse;
        margin-bottom: 55px;
    }
    #section_2warper
    {
        background-color: white;
    }
    .img_aside img 
    {
        width: 160px;
        height: 200px;
        object-fit: cover;
        border-radius: 15px 0 0 15px;
    }
    .card_aside
    {
        margin:15px;
    }
    .text_aside p
    {
        margin-bottom: 20px;
    }
    #main_div_section3
    {
        flex-wrap: nowrap;
    }
}
@media all and (min-width:1062px) and (max-width:1400px)
{
    #main_div_section3
    {
        max-width: 980px;
        margin: 0 auto,
    }
} 
@media all and (min-width:500px) and (max-width:740px)
{
    #section_3warper
    {
        padding: 0 30px;
    }
    #section_3 h2
    {
        margin-top: 0;
    }
    .card_section3_height
    {
        height:480px;
    }
} 
@media all and (min-width:940px) and (max-width:1400px)
{
    .img_aside img
    {
        height:100%
    }
}  
